<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="l7V8Z6luu4uWexN9YTvbCTBQzRSnzT-SMPOfJHvv0yM" />

    <title>Elliott Davies</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">

  </script>

</head>

<body id="page-top">

<div class="se-pre-con"></div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu
                </button>
                <a  class="navbar-brand page-scroll" href="/">Elliott Davies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#submit">Enquiries</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id ="header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><br><br><br><br>Elliott Davies</h1>
                <h2 id="homeHeading">{{msg}}</h2>
                <hr>
                <p> <b>BSc Applied Software Engineering</b> </p>

            </div>
        </div>
    </header>

    <!-- ..........................PROFILE.................................. -->

    <section class="bg-primary" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>

                    <hr class="light">

                    <br>

                    <p class="text-faded">I am a second year BSc Applied Software Engineering student at Cardiff University,
                                          eager to gain experience within the industry in order to develop and hone the
                                          skills I have acquired to date. </p>

                    <p class="text-faded"> I recognise that the future is now and I am passionate about
                                          equipping myself with life long programming skills that will subsequently
                                          lead to a fulfilling and creative career.</p>

                    <p class="text-faded">I want to make a contribution to a safer, better future, leaving a legacy where
                                          the positive contribution of computer technology outweighs the inevitable negatives.
                                          My ultimate goal is to add value to an organisation
                                          by creating code that has real world application.</p>

                    <br>

                </div>
            </div>

        </div>
    </section>

    <!-- ...........................SKILLS.................................. -->


    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                        <i class="fa fa-4x fa-html5 text-primary sr-icons"></i>
                        <h3>HTML5, CSS, JS & Bootsrap</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-terminal text-primary sr-icons"></i>
                        <i class="fa fa-4x fa-server text-primary sr-icons"></i>
                        <h3>Python, Flask & Jinja</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                        <h3>Java, OOP, Spring Boot & Thymeleaf</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                        <h3>Android SDK</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code-fork text-primary sr-icons"></i>
                        <h3>Git, GitHub & GitLab</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-windows text-primary sr-icons"></i>
                        <h3>Mac OS & Windows</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                        <i class="fa fa-4x fa-asterisk text-primary sr-icons"></i>
                        <h3>MySQL & SQLite3</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>Scrum & Agile</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-compress text-primary sr-icons"></i>
                        <h3>Teradata & Teradata SQL</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-table text-primary sr-icons"></i>
                        <h3>Microstrategy</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        <h3>Data Warehousing</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-language text-primary sr-icons"></i>
                        <h3>Fluent Welsh Speaker</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- .........................EXPERIENCE................................ -->


    <section class="bg-primary" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Experience</h2>

                    <hr class="light">
                </div>
            </div>


            <div class="container">




                <div class="row">

                  <div class="col-lg-4 col-md-4 text-center">
                      <div class="service-box">

                          <h3>Admiral <br>Data Warehouse Intern</h3>
                          <p>Summer 2017</p>
                          <hr class="light">
                          <p class="text-faded">Tasked with creating a Microstrategy report to gather
                                                and analyse data for the processes running
                                                within the warehouse. This was used to identify critical path issues and improve load efficency.<br><br>
                                                Gained valuable experience with SQL, MSTR, Scrum and Agile,
                                                Sprint planning and retrospectives, working within a complex business architecture and much more.
                                                Click <a class="text-faded" href="/References" style="text-decoration: underline;">here</a> to view my feedback</p>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 text-center">
                      <div class="service-box">

                          <h3>Veeqo <br>(TechHub Swansea)</h3>
                          <p>June 2015</p>
                          <hr class="light">
                          <p class="text-faded">Involved with real life interaction between staff and clients.<br><br>
                                                Gained understanding of how to have productive and
                                                professional discussions with clients.<br><br>
                                                I saw  first hand how colleagues interact together and how to express
                                                opinions and concerns appropriately and professionally.</p>
                      </div>
                  </div>

                    <div class="col-lg-4 col-md-4 text-center">
                        <div class="service-box">

                            <h3>Carmarthen Association of Voluntary Services</h3>
                            <p>June 2012</p>
                            <hr class="light">
                            <p class="text-faded">During my time at CAVS I gained the following key skills:<br>
                              <br>• Communication.
                              <br>• Basic ICT.
                              <br>• Working as part of a team.
                              <br>• Working with elderly clients.
                              <br>• Working with less able children.</p>


                        </div>
                    </div>



                </div>

            </div>


        </div>
    </section>

    <!-- .........................CONTACT.................................. -->


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Looking to get in touch? </h2>
                    <hr class="primary">
                    <p><br>Give me a call or contact me via email and I'll get back to you as soon as possible.<br><br><br></p>


                </div>

                          <div class="col-lg-4 col-lg-offset-2 text-center">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>07990030991</p>
                          </div>
                          <div class="col-lg-4 text-center">
                            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                            <p><a href="mailto:elliott_davies@live.co.uk">Email me here</a></p>
                          </div>

                  <div class="col-lg-8 col-lg-offset-2 text-center">

                      <p><br><br>Alternatively, contact me via the form <a class="page-scroll" href="#submit">below</a></p>
                  </div>
            </div>
        </div>
    </section>

    <!-- ...........................FORM.................................... -->


    <section class="bg-primary" id="submit">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Enquiries</h2>
                    <hr class="light"><br>
                </div>
                <div class="col-md-6 col-md-offset-3">


               <div class="well text-center">

                  <form action="/" method="POST">
                     <input type='hidden' name='csrfmiddlewaretoken' value='jirY00s8p1JmoEVdHSHBrH4rXryWR0jU' />
                     <div class="form-group">
                        <input class="form-control" id="name" maxlength="100" name="name" placeholder="Your Name *" type="text" required/>

                     </div>

                     <div class="form-group">
                        <input class="form-control" id="email" name="email" placeholder="Your Email *" type="email" required />

                     </div>

                     <div class="form-group">
                        <input class="form-control" id="mobile" name="mobile" placeholder="Mobile" type="number"/>

                     </div>

                     <div class="form-group">
                        <input class="form-control" id="subject" maxlength="100" name="subject" placeholder="Subject Matter *" type="text" required/>

                     </div>

                     <div class="form-group">
                        <textarea class="form-control" cols="40" id="message" name="message" placeholder="Message/Query *" rows="10" required></textarea>
                     </div>

                     <button type="submit" class="btn1 btn1-default">Send</button>
                  </form>


               </div>
            </div>
        </div>

      </div>
    </section>



    <!-- ..........................SCRIPTS.................................. -->


    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
